<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
	{namespace flux=FluidTYPO3\Flux\ViewHelpers}
	{namespace v=FluidTYPO3\Vhs\ViewHelpers}

	<f:layout name="Onepage" />

	<f:section name="Configuration">
		<flux:form id="onepage"/>
	</f:section>

	<f:section name="Content">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow bounceIn">
					<v:page.menu levels="1" as="sections">
						<f:for each="{sections}" as="section" iteration="iteration">
							<section id="section{section.uid}">
								<v:content.render pageUid="{section.uid}" />
							</section>
						</f:for>
					</v:page.menu>
				</div>
			</div>
		</div>
	</f:section>
</div>