<footer class="footer-wrap text-center">
	<div class="container">
		<ul class="social social-icons-footer-bottom wow fadeInDown">
			<li class="facebook">
				<f:link.external uri="http://facebook.com" target="_blank"  title="Facebook">
					<i class="fa fa-facebook"></i>
				</f:link.external>
			</li>
			<li class="twitter">
				<f:link.external uri="http://twitter.com" target="_blank" title="Twitter">
					<i class="fa fa-twitter"></i>
				</f:link.external>
			</li>
			<li class="linkedin">
				<f:link.external uri="http://linkedin.com" target="_blank" title="Linkedin">
					<i class="fa fa-linkedin"></i>
				</f:link.external>
			</li>
		</ul>

		<p class="site-info wow fadeInUp">
			© <f:cObject typoscriptObjectPath="lib.getYear" /> www.instruccionesaldorso.com
		</p>
	</div>
</footer>

<a href="#" class="scrollup">
	<i class="fa fa-angle-up"></i>
</a>
